.scrollbar-content {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-main);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}